{% extends 'base.html' %}
{% block content %}
{% load static %}

<div class="row">
  <div class="col-sm-4">
      <img src="{%  static 'ClassApp/cooking.jpg' %}">
  </div>
  <div class="col-sm-8">
      <h3 style="font-family: 'Open Sans', sans-serif; font-weight: 800">Welcome to Chef's Pantry!</h3>
      <p style="font-family: 'Open Sans', sans-serif; font-weight: 400">Register your account</p>
  <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
<input class="button" type="submit" value="Register">

</form>


{% endblock %}