<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset:"UTF-8">
    <title>Pantry</title>
            <link href='//fonts.googleapis.com/css?family=Open+Sans:400,400i,800, 600, 500' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="{% static 'ClassApp/style.css' %}">

</head>

<body>

<ul>
  <li><a style="float: left; font-size:0;" href="{% url 'results' %}"><img style="height: 45px;" src="{%  static 'ClassApp/logolong.png' %}"></a></li>
      {% if user.username %}
          <li><a style="float: right; line-height:45px; margin-right: 10px;" href="{% url 'logout' %}">Logout</a></li>
      {% else %}
          <li><a style="float: right; line-height: 45px; margin-right: 10px;" href="{% url 'login' %}">Login</a></li>
          <li><a style="float: right; line-height: 45px; margin-right: 10px;" href="{% url 'register_user' %}">Register</a></li>
      {% endif %}
</ul>




{% block content %}
    <!-- PageContent -->
{% endblock %}
</body>
</html>